@import 'bootstrap';

$backgroundColor: #A5A38E;
$complimentColor: #CDCCB0 ;
$accentText: #BF7618;



header{
  background-color: #2E061E;
  a {
    color: #C83A6A;
    text-decoration: none;
    &:hover{
      color: darken(#c73a51, 10%);
      text-decoration: none;
    }
  }
  text-align: center;
}

body{
  background-color: $backgroundColor;  
}

#carousel .item img, .shifty_image img{
  max-height: 100%;
}

.image_container {
  height: 300px; 
  font-size: 0;
    text-align: center;
}

.image_container:before {
content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.image_container > img {
    display: inline-block;
    vertical-align: middle;
}

.background-wrapper{
  background-color: $complimentColor;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 900px;
}

.links{
  font-family:'Sail', cursive;
  font-size: 36px;
  text-decoration: none;
  a{
    text-decoration: none;
    color: $accentText;
    &:hover{
      color: darken($accentText, 10%)
    }
  }
}

.website{
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  a{
    text-decoration:none;
    color: $accentText;
    &:hover{
      color: darken($accentText, 10%)
    }
  }
}