!!!
/ This site was created in Webflow. http://www.webflow.com
/ Last Published: Fri Sep 06 2013 06:12:59 GMT+0000 (UTC)
%html{"data-wf-site" => "5203bfa70c5e23a61e00059d"}
  %head
    %meta{:charset => "utf-8"}/
    %title BrianVPortfolio
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "css/normalize.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/webflow.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/brianvportfolio.webflow.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"}
    :javascript
      WebFont.load({
        google: {
          families: ["Great Vibes:400"]
        }
      });
        %link{:href => "https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => "https://y7v4p6k4.ssl.hwcdn.net/51e081c5241660ce7800001f/51e755c7e48178d53e000034_thumbnail-starter.png", :rel => "apple-touch-icon"}/
    %script{:defer => "", :src => "js/webflow.js", :type => "text/javascript"}
  %body
    .section.header
      .w-container
        .company-title THIRTY-YEAR-OLD MULBERRY FIELD
    %div
      .w-clearfix.hero-bg
        .w-clearfix.collection
          %img{:alt => "image-placeholder.svg", :src => "images/image-placeholder.svg"}/
          %img{:alt => "image-placeholder.svg", :src => "images/image-placeholder.svg"}/
          %img{:alt => "image-placeholder.svg", :src => "images/image-placeholder.svg"}/
          %img{:alt => "image-placeholder.svg", :src => "images/image-placeholder.svg"}/
          %img{:alt => "image-placeholder.svg", :src => "images/image-placeholder.svg"}/
          %img{:alt => "image-placeholder.svg", :src => "images/image-placeholder.svg"}/
          %img{:alt => "image-placeholder.svg", :src => "images/image-placeholder.svg"}/
          %img{:alt => "image-placeholder.svg", :src => "images/image-placeholder.svg"}/
          %img{:alt => "image-placeholder.svg", :src => "images/image-placeholder.svg"}/
          %img{:alt => "image-placeholder.svg", :src => "images/image-placeholder.svg"}/
          %img{:alt => "image-placeholder.svg", :src => "images/image-placeholder.svg"}/
          %img{:alt => "image-placeholder.svg", :src => "images/image-placeholder.svg"}/
          %img{:alt => "image-placeholder.svg", :src => "images/image-placeholder.svg"}/
          %img{:alt => "image-placeholder.svg", :src => "images/image-placeholder.svg"}/
          %img{:alt => "image-placeholder.svg", :src => "images/image-placeholder.svg"}/
          %img{:alt => "image-placeholder.svg", :src => "images/image-placeholder.svg"}/
        .archive archive
        .archive contact
    .website brianvalenzuela.com