---
images_per_row: 3
rows_per_page: 3
---

.background-wrapper
  .container
    .row  
      .span12
        #carousel.slide
          .carousel-inner
            = partial "image_display"
          %a.carousel-control.left{href: "#carousel", data: {slide: "prev"}}
            &lsaquo;
          %a.carousel-control.right{href: "#carousel", data: {slide: "next"}}
            &rsaquo;
.container.links
  .row  
    .span6 
      .pull-left
        = link_to "exhibition", "exhibition.html"
    .span6
      .pull-right
        = mail_to "brianvalenzuela@brianvalenzuela.com","contact"

              
= partial "footer"