---
images_per_row: 3
rows_per_page: 3
---
:javascript
  paintings = #{paintings_collection.to_json}


.row.template.hide
  .span4.image_container
    %a
      %img

.container
  .row
    .span12
      .exhibit-background
        .container
          .stuff
        
.container.links
  .row  
    .span6 
      .pull-left
        = link_to image_tag("home-archivelink.jpg"), "archive.html"
    .span6
      .pull-right
        = mail_to "brianvalenzuela@brianvalenzuela.com","contact"

              
= partial "footer"