---
title: Thirty Year Old Mulberry Field
body_class: index
---


.container
  .row  
    .span12 
      .row
        .span12
          = image_tag "home-title.jpg", width: "100%"
      
.container.links
  .row  
    .span6 
      .pull-left
        = link_to image_tag("home-archivelink.jpg"), "archive.html"
    .span6
      .pull-right
        = link_to image_tag("home-contactlink.jpg"), "exhibition.html"

= partial "footer"
